/* GENERAL */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: linear-gradient(#000000a4, #000000a4),
        url("image/background.jpg") center/cover no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #fff;
}

/* SKILL ICONS */
.skill-icon {
    font-size: 60px;
    color: #0d6efd;
    margin-bottom: 10px;
}

.js-logo {
    width: 60px;
    margin-bottom: 10px;
}

/* PROJECTS */
.project-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.project-card:hover {
    transform: translateY(-6px);
}
.project-card h5 a{
    background-color: blue;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    color:white;
    font-weight: bold;
}
